<div class="container">
  <h3>Friends List</h3>
  <hr />
  <% if @friends.empty? %>
    <p>Looks like you don't have any friends here yet. Tell them to join!</p>
  <% else %>
    <% @friends.each do |friend| %>
      <h3><%= friend.name %></h3>
      <hr />
    <% end %>
  <% end %>
 </div>
